.about {
    position: relative;
    text-align: center;
    height: 600px;
    width: 100%;
}

.about-book-blog {
    height: 350px;
    width: 100%;
    background-color: #361a03;
    position: relative;
}

.about-book-blog-title {
    color: #F5F5DC;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 3.5rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mt-image {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 300px;
    z-index: 0;
}

.our-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: fit-content;
    background-color: #361a03;
    margin: 20px 100px;
    padding: 20px;
}

.our-story-title {
    font-size: 3em;
    padding-bottom: 20px;
}

.our-story-text {
    width: 50%;
    font-family: Poppins;
    text-align: justify;
    overflow: auto;
    max-height: calc(100% - 40px);
    font-size: 1.2em;
    line-height: 1.5;
}

.hr-line {
    border: none;
    border-top: 2px solid #ccc;
    width: 100%;
    margin: 20px 0;
}

.team {
    margin: 20px;
    padding: 20px;
}

.team-title {
    font-size: 3em;
    padding-bottom: 20px;
}

.team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.megha,
.tanishka {
    flex: 0 0 auto;
    margin: 10px 100px;
    padding: 20px;
    background-color: #361a03;
    border: 1px solid #F5F5DC;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.megha::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #F5F5DC;
    left: calc(100% + 100px);
}


.member-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    margin-top: 15px;
    font-weight: bold;
}

.designation {
    font-style: italic;
}

.social-link {
    margin: 10px;
}