.bookstrip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bookstrip-header {
    display: flex;
    align-items: flex-start;
    margin-right: 400px;
    margin-left: 40px;
}

.bookstrip-title {
    font-family: 'Poppins';
    font-size: 4.5rem;
    font-weight: 700;
    color: #F5F5DC;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.bookstrip-subtitle {
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 500;
    color: #F5F5DC;
    text-align: left;
    margin: 0;
}

.buttons {
    display: flex;
    align-items: flex-start;
}

.bookstrip-signup-button {
    transition: background 0.3s;
    cursor: pointer;
    font-size: 25px;
    box-shadow: none !important;
    background-color: #361a03;
    color: #F5F5DC;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins';
    border: none;
}

.bookstrip-signup-button:hover {
    background-color: #F5F5DC;
    color: #361a03;
}

.bookstrip-signin-button {
    background-color: #6b4423;
    color: #F5F5DC !important;
    text-decoration: underline;
    font-size: 25px;
    box-shadow: none !important;
    font-weight: 700;
    font-family: 'Poppins';
    border: none;
}

.bookstrip-signin-button:hover {
    background-color: #6b4423;
    color: #F5F5DC;
}

.bookstrip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 70px;
}

.bookstrip-book {
    transition: opacity 1s ease-in-out;
}

.bookstrip-book img {
    width: 130px;
    height: 180px;
    cursor: pointer;
}

@media (max-width: 530px) {
    .bookstrip-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
        margin-top: 70px;
        width: 100%;
    }

    .bookstrip-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .bookstrip-title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .bookstrip-subtitle {
        font-size: 1.5rem;
        text-align: center;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .bookstrip-signup-button, .bookstrip-signin-button {
        font-size: 20px;
        margin: 5px;
    }

    .bookstrip-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: auto;
        justify-content: center;
        margin-top: 20px;
    }

    .bookstrip-book img {
        width: 100%;
        max-width: 130px;
        height: auto;
    }
}

@media (min-width: 530px) and (max-width: 1024px) {
    .bookstrip-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
        margin-top: 70px;
        width: 100%;
    }

    .bookstrip-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .bookstrip-title {
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .bookstrip-subtitle {
        font-size: 2.5rem;
        text-align: center;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .bookstrip-signup-button, .bookstrip-signin-button {
        font-size: 25px;
        margin: 5px;
    }

    .bookstrip-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: calc(100% - 40px);
        justify-content: center;
        margin-top: 20px;
    }

    .bookstrip-book {
        position: relative;
        width: 100%;
        padding-bottom: 150%;
        overflow: hidden;
    }

    .bookstrip-book img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.3s ease-in-out;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .bookstrip-header {
        margin-right: 20px;
        margin-left: 20px;
    }

    .bookstrip-grid {
        justify-content: center;
        margin-right: 20px;
    }
}

@media (min-width: 1280px) {
    .bookstrip-header {
        margin-right: auto;
    }

    .bookstrip-grid {
        justify-content: center;
        margin-right: 20px;
    }
}
