.logout-button {
  display: flex;
  align-items: center;
  position: relative;
}

.logout-text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.logout-button:hover .logout-text {
  visibility: visible;
  opacity: 1;
}

.logout-button:hover svg {
  display: none;
}